:root {
  --square-size: 180px;
  --square-image-size: 120px;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  color: white;
  margin: 0;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  height: var(--square-size);
  width: var(--square-size);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.square-image {
  width: var(--square-image-size);
  height: var(--square-image-size);
}

.square-logo {
  opacity: 0.1;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #594794;
  min-height: 100vh;
}

.game-info {
  margin-left: 20px;
}
